<h1>Blogs</h1>
<div>
    <form action="/admin" method="post">
        <input type="submit" value="AdminLogin">
    </form>
    <%data.forEach((val,index)=>{%>
        <h1>
            <%=(index+1)%>.<%=val.Title%>
        </h1>
        <p>
            <%=val.Subject%>
        </p>
        <img src="<%=val.Img%>" alt="img"><br><br>
        <%if(name){%>
            <form action="/userset" method="post" id="form">
                <textarea name="comment" id="comment" value="<%=val.comment%>" cols="30" rows="10"></textarea>

                <input type="hidden" name="pat" value="<%=(index+1)%>">
                <input type="hidden" name="tiles" value="<%=(val.Title)%>">
                <input type="hidden" name="namer" value="<%=name%>"><br><br>
                <input type="submit" name="submit" value="comment" id="submit">
            </form>
            <%}else{%>
                <form action="/login" method="post" id="form">
                    <textarea name="username" id="username" value="<%=val.comment%>" disabled="true" cols="30"
                        rows="10"></textarea><br><br>
                    <input type="submit" name="submit" value="submit" id="submit">
                    <%}%>
                        <%drive.map((item)=>{%>
                            <%if((val.Title===item.Title)){%>
                                <h6>Uername:<%=item.users %>
                                </h6>
                                <h6>Comment:<%=item.comment %>
                                </h6>
                                <%}%>
                                    <%})%>

                                        <%})%>
</div>

</body>